:root {
    font-family: "Roboto Slab", "Averial Serif Libre", serif;
    box-sizing: content-box;
    
    --wh: #fff; 
    --bl: #000;
    --c1: #0024a2; 
    --c2: #94c5ff;
}

* {margin:0;padding:0;}

body {
    height: 100vw;
    height: 100vh;

    overflow: hidden;
}

#background {
    position: absolute;
    top:0; left:0;
    width: 100vw; height: 100vh;
    z-index: -99;

    background-color: var(--wh);
    opacity: 0.8;
}

main {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#vraag {
    margin-top: 5rem;
}

#antwoorden-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.antwoord {
    width: clamp(300px, fit-content, 50vw);
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--wh);
    background-color: var(--c1);
    border-radius: 50vh;
    cursor: pointer;
    transition: 0.3s;
}

.antwoord:hover {
    background-color: var(--c2);
    color: var(--bl);
}

#assets {
    display: none !important;
}